<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    BBBBBBBBBBBBBBBBBB
    <partial name="_menu" />
    
    @*@Html.Partial("_menu")*@

    @RenderBody()
   
</body>
</html>
