@*@* Usando o _ViewImports para importar as NameSpaces *@
@model IEnumerable<Pergunta>


@{
    Layout = "_Layout";
}

<ul>
    @foreach (var item in Model)
    {
        <li>
            <p>@item.ID</p>
            <p>@item.Autor</p>
            <p>@item.Descricao</p>
        </li>
    }
</ul>
