<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <partial name="_menu" />
    <h1>Home</h1>
    <p> Twitter @@jeffaraujo</p>
</body>
</html>
