<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Olá Bom dia @DateTime.Now.ToString() </h1>
    <p> Twitter @@jeffaraujo</p>
    <p> Essa é outra View</p>
</body>
</html>
