<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sobre</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Ajuda</a></li>
        </ul>
    </nav>
    <h1>Sobre</h1>
    <p> Twitter @@jeffaraujo</p>
</body>
</html>
